<div class="container">
  <div class="col-10">
    <div class="card text-center m-4" >
      <div class="card-block m-4">
        <h4 class="card-title"> {{ (site | async)?.name }}</h4>
        <p class="card-text">Address: {{(site | async)?.suburb}} {{(site | async)?.state}} </p>
        <div>Last completed: {{(site | async)?.lastcompletedDate | date}} </div>
        <div>Due Date: {{(site | async)?.due | date}} </div>
        <div class="btn btn-primary m-4" (click)=resetDate()>Completed</div>
      </div>
    </div>
  </div>
</div>